body {
  margin: 0;
}

.apps-container {
  --apps-container-gap: 10px;
  --apps-container-cell-height: 40vh;

  width: auto;
  min-height: calc(calc(var(--apps-container-cell-height) * 2) + var(--apps-container-gap));
  margin: 0 auto;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--apps-container-gap);
}

.control-buttons {
  padding: 10px;
}

.control-buttons__button {
  margin: 5px;
}
